<div  ng-controller="SearchCtrl">
    <FORM method="get"  ng-submit="search()">
    	<h4>Recherchez votre GEEK :</h4>
        <INPUT type="radio" name="sexe" id="man" value="H" ng-model="sexe"> Homme
        <INPUT type="radio" name="sexe" id="woman" value="F" ng-model="sexe"> Femme

        <br /><br />

        <div class="interet">
            <select name="listeInteret" ng-model="interet" style="width:150px">
            	<option ng-value={{item.id}} ng-repeat="item in lesInterets">{{item.libelle}}</option>
            </select>
        </div>
        <br />
        <INPUT type="submit" value="Chercher votre Geek">
    </FORM>
     <br />
    <div id="contenu" class="row">
           <div ng-repeat="item in lesGeeks" class="col-xs-6 col-md-3" >
               <div id="unGeek" class="thumbnail">
                   <img src="/img/photos/{{item.photo}}" alt="geek">
                   <div class="caption">
                       <h3>{{item.nom}} {{item.prenom}}</h3>
                       <p>{{item.description}}</p>
                       <p><a href="#/geeks/{{item.id}}" class="btn btn-primary" role="button">Visite le profil de ton Geek</a></p>
                   </div>
               </div>
           </div>
       </div>
</div>